/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
@import url(fonts/font.css);
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.head-text {
  margin-bottom: 1rem;
  font-family: "Gilroy", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #363636; }
  .head-text--step {
    display: none;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500; }

.subhead-text {
  font-family: "Gilroy", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: rgba(54, 54, 54, 0.7); }

.btn {
  position: relative;
  overflow: hidden;
  max-height: 45px;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  background: #d34085;
  color: #fff;
  font-family: "Gilroy", sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none; }
  .btn:after {
    content: "";
    position: absolute;
    top: -15%;
    left: -100%;
    height: 150%;
    width: 10px;
    -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(255, 255, 255, 0.1)), color-stop(20%, rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.6)));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.6));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.6));
    -webkit-animation: 3s 6s blink infinite;
            animation: 3s 6s blink infinite; }
  .btn--final {
    border-radius: 0;
    padding: 10px 35px;
    display: inline-block;
    text-decoration: none; }
  .btn--step .btn__icon {
    margin: 0;
    margin-left: 5px; }
  .btn--step-prev {
    height: 45px;
    width: 45px;
    margin-right: 20px;
    border-style: solid;
    border-radius: 50%;
    border-color: #e5e5e5;
    cursor: pointer;
    outline: none; }
    .btn--step-prev:focus {
      -webkit-box-shadow: 0 0 0 0.125em rgba(121, 87, 213, 0.25);
              box-shadow: 0 0 0 0.125em rgba(121, 87, 213, 0.25); }
    .btn--step-prev[disabled] {
      opacity: 0.5;
      cursor: not-allowed; }
    .btn--step-prev .btn__icon {
      margin: 0;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      fill: #4a505e; }
  .btn:focus {
    -webkit-box-shadow: 0 0 0 0.125em rgba(121, 87, 213, 0.25);
            box-shadow: 0 0 0 0.125em rgba(121, 87, 213, 0.25); }
  .btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed; }
  .btn__icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    fill: #fff;
    vertical-align: middle; }

@-webkit-keyframes first-hide {
  0% { }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    visibility: hidden;
    display: none; } }

@keyframes first-hide {
  0% { }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    visibility: hidden;
    display: none; } }

@-webkit-keyframes slide {
  0% {
    background-position: 0 0; }
  to {
    background-position: 20px 20px; } }

@keyframes slide {
  0% {
    background-position: 0 0; }
  to {
    background-position: 20px 20px; } }

@-webkit-keyframes blink {
  0% {
    left: -100%; }
  100% {
    left: 200%; } }

@keyframes blink {
  0% {
    left: -100%; }
  100% {
    left: 200%; } }

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100vh; }
  .wrapper__first {
    min-height: 240px;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #fff; }
    .wrapper__first.step--hidden {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      /*animation: first-hide 0.5s forwards;*/
      /*height: 0;*/
      visibility: hidden; }
      .wrapper__first.step--hidden .first__prev {
        /*transition: 0.5s;*/
        width: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
        visibility: hidden; }
      .wrapper__first.step--hidden .first__text {
        -webkit-animation: first-hide 0.5s forwards;
                animation: first-hide 0.5s forwards; }
    .wrapper__first .first__prev {
      -webkit-transition: inherit;
      -o-transition: inherit;
      transition: inherit;
      position: relative;
      width: 60%;
      height: 100%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
      -o-object-fit: cover;
         object-fit: cover; }
    .wrapper__first .first__text {
      -webkit-transition: inherit;
      -o-transition: inherit;
      transition: inherit;
      position: relative;
      width: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 20px 30px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .wrapper__first .first__text .text__start .head-text {
        position: relative; }
        .wrapper__first .first__text .text__start .head-text:before {
          content: "";
          position: absolute;
          left: 0;
          top: -10px;
          width: 40px;
          height: 3px;
          background: #363636; }
  .wrapper__quiz {
    min-height: 100vh;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper__quiz .quiz {
      display: none;
      width: 1024px;
      max-width: 100%;
      margin: 0 auto;
      padding: 20px;
      border: 5px solid #ededed;
      -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
              box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15); }
      .wrapper__quiz .quiz--first, .wrapper__quiz .quiz--second, .wrapper__quiz .quiz--third, .wrapper__quiz .quiz--fourth, .wrapper__quiz .quiz--fifth, .wrapper__quiz .quiz--six {
        display: block; }
      .wrapper__quiz .quiz--first .head-text--first {
        display: block; }
      .wrapper__quiz .quiz--first .content--first {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .wrapper__quiz .quiz--second .head-text--second {
        display: block; }
      .wrapper__quiz .quiz--second .content--second {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .wrapper__quiz .quiz--second .line__progress {
        width: 17% !important; }
      .wrapper__quiz .quiz--third .head-text--third {
        display: block; }
      .wrapper__quiz .quiz--third .content--third {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .wrapper__quiz .quiz--third .line__progress {
        width: 33% !important; }
      .wrapper__quiz .quiz--fourth .head-text--fourth {
        display: block; }
      .wrapper__quiz .quiz--fourth .content--fourth {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .wrapper__quiz .quiz--fourth .line__progress {
        width: 50% !important; }
      .wrapper__quiz .quiz--fifth .head-text--fifth {
        display: block; }
      .wrapper__quiz .quiz--fifth .content--fifth {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .wrapper__quiz .quiz--fifth .line__progress {
        width: 67% !important; }
      .wrapper__quiz .quiz--six .head-text--six {
        display: block; }
      .wrapper__quiz .quiz--six .content--six {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .wrapper__quiz .quiz--six .line__progress {
        width: 83% !important; }
      .wrapper__quiz .quiz__header {
        margin-bottom: 20px; }
      .wrapper__quiz .quiz__content {
        display: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row;
                flex-flow: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .wrapper__quiz .quiz__content .content {
          -ms-flex-preferred-size: 48%;
              flex-basis: 48%;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }
          .wrapper__quiz .quiz__content .content .content__label {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-bottom: 15px;
            padding: 10px;
            font-size: 1rem;
            font-family: "Gilroy", sans-serif;
            border: 1px solid #e6e6e6;
            border-radius: 5px;
            cursor: pointer;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box; }
            .wrapper__quiz .quiz__content .content .content__label:hover {
              -webkit-box-shadow: 0 1px 3px 0 #e6e6e6;
                      box-shadow: 0 1px 3px 0 #e6e6e6; }
            .wrapper__quiz .quiz__content .content .content__label .content__radio {
              margin-right: 15px;
              position: relative;
              -webkit-appearance: none;
              width: 20px;
              min-width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #e6e6e6;
              -webkit-box-sizing: border-box;
                      box-sizing: border-box;
              outline: none; }
              .wrapper__quiz .quiz__content .content .content__label .content__radio:checked {
                border: 2px solid #d34085;
                -webkit-box-shadow: 0 2px 6px 0 rgba(211, 64, 133, 0.5);
                        box-shadow: 0 2px 6px 0 rgba(211, 64, 133, 0.5); }
              .wrapper__quiz .quiz__content .content .content__label .content__radio:checked:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                background: #d34085;
                border-radius: 50%; }
            .wrapper__quiz .quiz__content .content .content__label .content__checkbox {
              -webkit-appearance: none;
              width: 20px;
              min-width: 20px;
              height: 20px;
              margin-right: 15px;
              border-radius: 5px;
              background: #e6e6e6; }
              .wrapper__quiz .quiz__content .content .content__label .content__checkbox:checked {
                background: #d34085 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath d='M.04.627L.146.52.43.804.323.91zm.177.177L.854.167.96.273.323.91z' fill='%23fff'/%3E%3C/svg%3E") no-repeat 50%;
                background-size: .9rem; }
        .wrapper__quiz .quiz__content .content__preview {
          -ms-flex-preferred-size: 48%;
              flex-basis: 48%; }
          .wrapper__quiz .quiz__content .content__preview .preview {
            width: 100%;
            max-height: 450px;
            min-height: 200px;
            -o-object-fit: cover;
               object-fit: cover; }
      .wrapper__quiz .quiz__footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 5px 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .wrapper__quiz .quiz__footer .footer__process {
          -webkit-box-flex: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          margin-right: 20px; }
          .wrapper__quiz .quiz__footer .footer__process .process__label {
            margin-bottom: 5px;
            font-family: "Gilroy", sans-serif;
            font-size: 0.8rem;
            font-weight: 500;
            color: rgba(54, 54, 54, 0.7); }
            .wrapper__quiz .quiz__footer .footer__process .process__label .label__procents {
              color: #d34085; }
              .wrapper__quiz .quiz__footer .footer__process .process__label .label__procents:after {
                content: "%"; }
          .wrapper__quiz .quiz__footer .footer__process .process__line {
            height: 6px;
            border-radius: 25px;
            background: #d9d9d9;
            overflow: hidden; }
            .wrapper__quiz .quiz__footer .footer__process .process__line .line__progress {
              height: 100%;
              width: 0;
              background: -webkit-gradient(linear, left top, right top, from(#b72a6b), to(#dd699f));
              background: -o-linear-gradient(left, #b72a6b, #dd699f);
              background: linear-gradient(90deg, #b72a6b, #dd699f); }
              .wrapper__quiz .quiz__footer .footer__process .process__line .line__progress:before {
                content: "";
                height: 100%;
                width: 100%;
                display: block;
                background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.08) 25%, transparent 0, transparent 50%, rgba(255, 255, 255, 0.08) 0, rgba(255, 255, 255, 0.08) 75%, transparent 0, transparent);
                background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.08) 25%, transparent 0, transparent 50%, rgba(255, 255, 255, 0.08) 0, rgba(255, 255, 255, 0.08) 75%, transparent 0, transparent);
                background-size: 20px 20px;
                -webkit-animation: 1.5s slide infinite;
                        animation: 1.5s slide infinite; }
      .wrapper__quiz .quiz--final {
        width: 600px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        padding: 0; }
        .wrapper__quiz .quiz--final .final__preview {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 100%;
          padding: 20px; }
        .wrapper__quiz .quiz--final .head-text--step {
          margin: 20px; }
        .wrapper__quiz .quiz--final .final__text {
          margin-bottom: 0;
          margin: 0 20px 20px;
          font-family: "Gilroy", sans-serif;
          font-size: 1rem; }
        .wrapper__quiz .quiz--final .final__footer {
          margin-top: 20px;
          padding: 20px;
          text-align: center;
          -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
                  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08); }

@media (max-width: 768px) {
  .btn {
    border-radius: 5px;
    padding: 10px; }
    .btn--step-prev {
      margin-right: 10px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.5);
      border: none; }
      .btn--step-prev .btn__icon {
        fill: #fff; }
  .wrapper {
    height: auto; }
    .wrapper__first {
      height: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column; }
      .wrapper__first .first__prev {
        width: 100%;
        height: 220px;
        -ms-flex-preferred-size: 220px;
            flex-basis: 220px; }
      .wrapper__first .first__text {
        width: 100%;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
    .wrapper__quiz {
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
      .wrapper__quiz .quiz {
        width: 100%;
        padding: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
        border: none; }
        .wrapper__quiz .quiz__header {
          padding: 20px;
          margin-bottom: 0; }
        .wrapper__quiz .quiz__content {
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
              -ms-flex-flow: column-reverse;
                  flex-flow: column-reverse; }
          .wrapper__quiz .quiz__content .content__preview {
            width: 100%;
            -ms-flex-preferred-size: auto;
                flex-basis: auto; }
            .wrapper__quiz .quiz__content .content__preview .preview {
              height: 220px; }
          .wrapper__quiz .quiz__content .content {
            padding: 20px;
            padding-bottom: 70px;
            -ms-flex-preferred-size: auto;
                flex-basis: auto;
            width: 100%; }
        .wrapper__quiz .quiz__footer {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.4);
          padding: 10px 20px; }
          .wrapper__quiz .quiz__footer .footer__process {
            margin-right: 10px; }
            .wrapper__quiz .quiz__footer .footer__process .process__label {
              color: #fff; }
              .wrapper__quiz .quiz__footer .footer__process .process__label .label__procents {
                font-weight: 600;
                color: #fff; }
        .wrapper__quiz .quiz--final .final__preview {
          padding: 0 0 20px;
          width: 100%; }
        .wrapper__quiz .quiz--final .final__text {
          margin-bottom: 90px; }
        .wrapper__quiz .quiz--final .final__footer {
          position: fixed;
          left: 0;
          right: 0;
          bottom: 0;
          margin-top: 0; } }
