/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
@import "fonts/font.css";
$main-black: #363636;
$main-color: #d34085;
$main-pink: #d34085;
$light-black: rgba(54, 54, 54, 0.7);
$main-font: "Gilroy", sans-serif;
.head-text{
    margin-bottom: 1rem;
	font-family: $main-font;
    font-size: 1.8rem;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: $main-black;
    &--step{
		display: none;
    	margin: 0;
    	font-size: 1.5rem;
    	font-weight: 500;
    }
}
.subhead-text{
	font-family: $main-font;
	font-size: 1rem;
	font-weight: 500;
	font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: $light-black;
}

.btn{
	position: relative;
	overflow: hidden;
	max-height: 45px;
	padding: 10px 25px;
	border: none;
	border-radius: 25px;
	background: $main-pink;
	color: #fff;
	font-family: $main-font;
	line-height: 1.5rem;
	font-size: 1rem;
	cursor: pointer;
	outline: none;
	&:after{
		content: "";
	    position: absolute;
	    top: -15%;
	    left: -100%;
	    height: 150%;
	    width: 10px;
	    transform: rotate(20deg);
	    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.6));
	    animation: 3s 6s blink infinite;
	}
	&--final{
		border-radius: 0;
		padding: 10px 35px;
		display: inline-block;
		text-decoration: none;
	}
	&--step{
		.btn__icon{
			margin: 0;
			margin-left: 5px;
		}
	}
	&--step-prev{
		height: 45px;
		width: 45px;
		margin-right: 20px;
		border-style: solid;
		border-radius: 50%;
		border-color: #e5e5e5;
		cursor: pointer;
		outline: none;
		&:focus{
			box-shadow: 0 0 0 0.125em rgba(121,87,213,.25);
		}	
		&[disabled]{
			opacity: 0.5;
			cursor: not-allowed;
		}
		.btn__icon{
			margin: 0;
			transform: rotate(180deg);
			fill: #4a505e;
		}
	}
	&:focus{
		box-shadow: 0 0 0 0.125em rgba(121,87,213,.25);
	}
	&[disabled]{
		opacity: 0.5;
		cursor: not-allowed;
	}
	&__icon{
		width: 25px;
		height: 25px;
		margin-right: 5px;
		fill: #fff;
		vertical-align: middle;
	}
}

@keyframes first-hide{
	0% {}
	100% {
		transform: translate(100%, 0);
		visibility: hidden;
		display: none;
	}
}

@keyframes slide {
    0% {
        background-position: 0 0
    }

    to {
        background-position: 20px 20px
    }
}
@keyframes blink{
	0% {
		left: -100%;
	}
	100%{
		left: 200%;
	}
}
.wrapper{
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	&__first{
		min-height: 240px;
		height: 100vh;
		position: relative;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		background: #fff;
		&.step--hidden{
			transition: 0.5s;
			/*animation: first-hide 0.5s forwards;*/
			/*height: 0;*/
				visibility: hidden;

			
			.first__prev{
				/*transition: 0.5s;*/
				width: 0;
				flex-basis: 0;
				visibility: hidden;
			}
			.first__text{
				animation: first-hide 0.5s forwards;
			}
		}
		.first__prev{
			transition: inherit;
			position: relative;
			width: 60%;
			height: 100%;
			flex-basis: 60%;
			object-fit: cover;
		}
		.first__text{
			transition: inherit;
			position: relative;
			width: 40%;
			flex-basis: 40%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px 30px;
			box-sizing: border-box;
			.text__start{
				.head-text{
					position: relative;
					&:before{
						content: "";
						position: absolute;
						left: 0;
						top: -10px;
						width: 40px;
						height: 3px;
						background: $main-black;
					}
				}
			}
		}
	}
	&__quiz{
		min-height: 100vh;
		display: none;
		align-items: center;
		justify-content: center;
		.quiz{
			display: none;
			width: 1024px;
			max-width: 100%;
			margin: 0 auto;
			padding: 20px;
			border: 5px solid #ededed;
			box-shadow: 0 7px 15px 0 rgba(0,0,0,.15);
			&--first, &--second, &--third, &--fourth, &--fifth, &--six{
				display: block;
			}
			&--first{
				.head-text--first{
					display: block;
				}
				.content--first{
					display: flex;
				}
			}
			&--second{
				.head-text--second{
					display: block;
				}
				.content--second{
					display: flex;
				}				
				.line__progress{
					width: 17%!important;
				}
			}
			&--third{
				.head-text--third{
					display: block;
				}
				.content--third{
					display: flex;
				}	
				.line__progress{
					width: 33%!important;
				}			
			}
			&--fourth{
				.head-text--fourth{
					display: block;
				}
				.content--fourth{
					display: flex;
				}	
				.line__progress{
					width: 50%!important;
				}			
			}
			&--fifth{
				.head-text--fifth{
					display: block;
				}
				.content--fifth{
					display: flex;
				}
				.line__progress{
					width: 67%!important;
				}			
			}
			&--six{
				.head-text--six{
					display: block;
				}
				.content--six{
					display: flex;
				}
				.line__progress{
					width: 83%!important;
				}	
			}

			&__header{
				margin-bottom: 20px;
			}
			&__content{
				display: none;
				flex-flow: row;
				align-items: flex-start;
				justify-content: space-between;
				box-sizing: border-box;
				.content{
					flex-basis:  48%;
					box-sizing: border-box;
					.content__label{
						width: 100%;
						display: flex;
						align-items: center;
						margin-bottom: 15px;
						padding: 10px;
						font-size: 1rem;
						font-family: $main-font;
						border: 1px solid #e6e6e6;
						border-radius: 5px;
						cursor: pointer;
						box-sizing: border-box;
						&:hover{
							box-shadow: 0 1px 3px 0 #e6e6e6;
						}
						.content__radio{
							margin-right: 15px;
							position: relative;
							-webkit-appearance: none;
							width: 20px;
							min-width: 20px;
							height: 20px;
							border-radius: 50%;
							background: #e6e6e6;
							box-sizing: border-box;
							outline: none;
							&:checked{
								border: 2px solid $main-pink;
								box-shadow: 0 2px 6px 0 rgba(211, 64, 133, 0.5);
							}
							&:checked:before{
								content: "";
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								width: 10px;
								height: 10px;
								background: $main-pink;
								border-radius: 50%;

							}
						}
						.content__checkbox{
							-webkit-appearance: none;
							width: 20px;
							min-width: 20px;
							height: 20px;
							margin-right: 15px;
							border-radius: 5px;
							background: #e6e6e6;

							&:checked{
								background: $main-pink url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath d='M.04.627L.146.52.43.804.323.91zm.177.177L.854.167.96.273.323.91z' fill='%23fff'/%3E%3C/svg%3E") no-repeat 50%;
								background-size: .9rem;
							}
						}
					}

				}
				.content__preview{
					flex-basis:  48%;
					.preview{
						width: 100%;
					    max-height: 450px;
					    min-height: 200px;
						object-fit: cover;
					}
				}
			}
			&__footer{
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 5px 10px;
				box-sizing: border-box;
				.footer__process{
					flex-grow: 1;
					margin-right: 20px;
					.process__label{
						margin-bottom: 5px;
						font-family: $main-font;
						font-size: 0.8rem;
						font-weight: 500;
						color: $light-black;
						.label__procents{
							color: $main-pink;
							&:after{
								content:"%";
							}
						}
					}
					.process__line{
						height: 6px;
					    border-radius: 25px;
					    background: #d9d9d9;
					    overflow: hidden;
					    .line__progress{
					    	height: 100%;
					    	width: 0;
					    	background: linear-gradient(90deg,#b72a6b,#dd699f);
					    	&:before{
					    		content: "";
					    		height: 100%;
					    		width: 100%;
					    		display: block;
					    		background-image: linear-gradient(-45deg,hsla(0,0%,100%,.08) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.08) 0,hsla(0,0%,100%,.08) 75%,transparent 0,transparent);
					    		background-size: 20px 20px;
					    		animation: 1.5s slide infinite;
					    	}
					    }
					}
				}
				.footer__buttons{

				}
			}
			&--final{
				width: 600px;
				flex-flow: column;
				padding: 0;
				.final__preview{
					box-sizing: border-box;
					width: 100%;
					padding: 20px;
				}
				.head-text--step{
					margin: 20px;
				}
				.final__text{
					margin-bottom: 0;
					margin: 0 20px 20px;
					font-family: $main-font;
					font-size: 1rem;
				}
				.final__footer{
					margin-top: 20px;
					padding: 20px;
					text-align: center;
					box-shadow: 0 0 15px 0 rgba(0,0,0,.08);
				}
			}
		}
	}
}
@media (max-width: 768px){
	.btn{
		border-radius: 5px;
		padding: 10px;
		&--step-prev{
			margin-right: 10px;
			border-radius: 5px;
			background: rgba(0,0,0,.5);
			border: none;
			.btn__icon{
				fill: #fff;
			}
		}
	}
	.wrapper{
		height: auto;
		&__first{
			height: auto;
			flex-flow: column;
			.first__prev{
				width: 100%;
				height: 220px;
				flex-basis: 220px;
			}
			.first__text{
				width: 100%;
				flex-basis: auto;
			}
		}
		&__quiz{
			align-items: stretch;
			.quiz{
				width: 100%;
				padding: 0;
				box-shadow: none;
				border: none;
				&__header{
					padding: 20px;
					margin-bottom: 0;
				}
				&__content{
					flex-flow: column-reverse;
					.content__preview{
						width: 100%;
						flex-basis: auto;
						.preview{
							height: 220px;
						}
					}
					.content{
						padding: 20px;
						padding-bottom: 70px;
						flex-basis: auto;
						width: 100%;
					}
				}
				&__footer{
					position: fixed;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba(0,0,0,.4);
					padding: 10px 20px;
					.footer__process{
						margin-right: 10px;
						.process__label{
							color: #fff;
							.label__procents{
								font-weight: 600;
								color: #fff;
							}
						}
					}
				}
				&--final{
					.final__preview{
						padding: 0 0 20px;
						width: 100%;
					}
					.final__text{
						margin-bottom: 90px;
					}
					.final__footer{
						position: fixed;
						left: 0;
						right: 0;
						bottom: 0;
						margin-top: 0;
					}
				}
			}
		}
	}
}